body{
    background-color: rgb(48, 48, 48);
}

nav * {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0;

}


    
.navBar {
    
        position: sticky;
        background-color: teal;
        padding: 15px 0px;
        height: 70px;
   }

.navBar li, span{
    line-height: 23px;
}
.navBar li, button{
    font-weight: 500;   
    font-size: 17px;
    
}

.nav-logo img {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: baseline;
}
    
    .nav-flex-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-end;
    }
        .nav-flex-item-1, .nav-flex-item-3{
            display: inline-block;
            flex-grow: 1;
            text-align: center;
        }
        .nav-flex-item-2, .nav-flex-item-4{
            flex-grow: 2;
            text-align: center;
        }
            .nav-logo span{
                display: inline-block;
                margin: 0;
                padding: 0;
                color: black;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 2px;
                font-size: 30px;
                text-align: center;
            }
            .nav-logo:hover{
                text-decoration: none;
                color:black;
                cursor: pointer;
            }

            .nav-links{
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
            }
                .nav-links li {
                    list-style: none;
                    display: inline-block;
                }
                .nav-links li a {
                    color: rgb(243, 243, 211);
                    text-decoration: none;
                    letter-spacing: 3px;
                    transition: all 0.3s ease 0s;
                }
                .nav-links li a:hover {
                    color: violet;
                }

                .nav-login{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    }


.nav-login button {
    padding: 9px 25px;
    margin: 0px 4px;
    
    line-height: 22px;
    
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0ms;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
    .registerButton{
        width: 135px;
        background-color: rgba(247, 192, 22, 1);
        color: black;
        border: 1px solid rgba(247, 192, 22, 1);
    }
    .logInButton{
        width: 110px;
        background-color: inherit;
        color: white;
        border: 1px solid white;
    }

.registerButton:hover{
    color: rgb(1, 146, 146);
    box-shadow: 0px 0px 1px 1px white;

    
}

.logInButton:hover{
    background-color: rgb(1, 146, 146);
    border-color: rgba(247, 192, 22, 1);
    box-shadow: 0px 0px 4px 2px rgba(247, 192, 22, 1);
    transform: translateY(-1px);
}








            .burger{
                display: none;
                cursor: pointer;
            }

                .burger div{
                    width: 25px;
                    height: 2px;
                    background-color: white;
                    margin: 3px;
                }

                
                
                
                
                

        @media screen and (max-width:864px){
            body{
                overflow-x: hidden;
            }
            .nav-links{
                position: absolute;
                right: 0px;
                height: 92vh;
                top: 8vh;
                background-color: teal;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
            }
            .nav-links li{
                opacity: 0;
            }

            .nav-flex-item-4{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
        } 


        .nav-active{
            transform: translateX(0%);
        }

        /* @media screen and (max-width:560px){
            .nav-flex-item-3{
                display: none;
            }


        } */




/* 
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
     /* since 3.1.0 */
    /* .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }  */
/*} */