*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(48, 48, 48);
}
nav * {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0;
}
.navBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    background-color: teal;
    padding: 15px 0px;
    min-height: 7vh;
   }
.navBar li, button{
    font-weight: 500;   
    font-size: 17px;
}
.nav-logo img {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: baseline;
}
        .nav-flex-item-1, .nav-flex-item-3{
            display: inline-block;
            flex-grow: 1;
            text-align: center;
        }
        .nav-flex-item-2, .nav-flex-item-4{
            flex-grow: 2;
            text-align: center;
        }
            .nav-logo span{
                display: inline-block;
                margin: 0;
                padding: 0;
                color: black;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 2px;
                font-size: 30px;
                text-align: center;
            }
            .nav-logo:hover{
                text-decoration: none;
                color:black;
                cursor: pointer;
            }
            .nav-links{
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
            }
                .nav-links li {
                    list-style: none;
                    display: inline-block;
                }
                .nav-links li a {
                    color: rgb(243, 243, 211);
                    text-decoration: none;
                    letter-spacing: 3px;
                    transition: all 0.3s ease 0s;
                }
                .nav-links li a:hover {
                    color: violet;
                }
                .nav-login{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                }
                    .nav-login button {
                        padding: 9px 25px;
                        margin: 0px 4px;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: all 0.3s ease 0ms;
                        display: inline-block;
                        text-align: center;
                        text-decoration: none;
                    }
                        .registerButton{
                            width: 135px;
                            background-color: rgba(247, 192, 22, 1);
                            color: black;
                            border: 1px solid rgb(167, 131, 25);
                        }
                        .logInButton{
                            width: 110px;
                            background-color: inherit;
                            color: white;
                            border: 1px solid white;
                        }
                        .registerButton:hover{
                        border: 1px solid rgb(247, 192, 22, 1);
                        color: rgb(1, 146, 146);
                        box-shadow: 0px 0px 1px 1px white;
                        }

                        .logInButton:hover{
                            background-color: rgb(1, 146, 146);
                            border-color: rgba(247, 192, 22, 1);
                            box-shadow: 0px 0px 4px 2px rgba(247, 192, 22, 1);
                            transform: translateY(-1px);
                        }
            .burger{
                display: none;
                cursor: pointer;
            }
                .burger div{
                    width: 25px;
                    height: 2px;
                    background-color: white;
                    margin: 3px;
                    transition: all 0.3s ease;
                }


@media screen and (max-width:864px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        margin-top: 15px;
        position: absolute;
        right: 0px;
        height: 60vh;
        background-color: rgb(1, 112, 112);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;  
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-flex-item-4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);   
}